@header-text-color:  #e5eaf5;
@main-text-color: #8076a3;
@secondary-text-color: #f9c5bd;
@titles-color:  #7c677f;
@borders-color: #c4c4c4;
@main-theme-color: #d0bdf4;
@secondary-theme-color: #8458B3;
@task-done-button-color: #9bc400;
@task-done-text-color: #c4c4c4;
@button-background-color: #f9c5bd;
@shadow-color: #404040;
@remove-color: #ff1d58;
