<div class="content">
  <app-wishlist-gift
    *ngFor="let g of fest.gifts"
    [gift]="g"
    [isFestStatic]="
    fest.festId === 'today' || fest.festId === 'starred'
    "
    (editGift)="sendEditedGift($event)"
    (delete)="sendGiftDeleting($event)"
  ></app-wishlist-gift>
  <app-wishlist-add-gift
    *ngIf="
      !(fest?.festId === 'today' || fest?.festId === 'starred')
    "
    (addGift)="sendCreatedGift($event)"
    [currentFestTitle]="fest.festTitle"
    [currentFestId]="fest.festId"
  ></app-wishlist-add-gift>
</div>
