<div class="add-gift" [ngClass]="{ 'add-gift_type_edit': mode === 'edit' }">
  <button class="add-gift__button" type="button" (click)="toggleFormView()">
    <tui-svg class="add-gift__icon" [src]="buttonIcon"></tui-svg>
    {{ buttonText }}
  </button>

  <form
    class="add-gift__form"
    *ngIf="isFormExpanded"
    [formGroup]="form"
    (submit)="submit()"
  >
    <div class="add-gift__input-wrapper">
      <tui-input
        class="add-gift__input"
        formControlName="titleInput"
        tuiTextfieldSize="s"
        >Название подарка</tui-input
      >
      <tui-error
        formControlName="titleInput"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="add-gift__input-wrapper">
      <tui-input-date
        class="add-gift__input"
        formControlName="deadlineInput"
        tuiTextfieldSize="s"
        [min]="currentDate"
      ></tui-input-date>
      <tui-error
        formControlName="deadlineInput"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="add-gift__input-wrapper">
      <tui-input
        class="add-gift__input"
        formControlName="commentInput"
        tuiTextfieldSize="s"
        >Комментарий</tui-input
      >
      <tui-error
        formControlName="commentInput"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <div class="add-gift__input-wrapper">
      <tui-input
        class="add-gift__input"
        formControlName="linkInput"
        tuiTextfieldSize="s"
        >Ссылка</tui-input
      >
      <tui-error
        formControlName="linkInput"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
    <button
      class="add-gift__submit-button"
      tuiButton
      type="submit"
      size="s"
      appearance="custom"
    >
      {{ submitButtonText }}
    </button>
  </form>
</div>
