<form class="add-gift__form" [formGroup]="form" (submit)="submit()" novalidate>
  <div class="tui-form__row">
    <tui-input
      class="add-gift__input"
      formControlName="titleInput"
      tuiTextfieldSize="s"
      >Подарок</tui-input
    >
    <span
      *ngIf="
        titleInput.errors?.hasOwnProperty('required') && titleInput.touched
      "
      class="help-inline"
      >поле обязательно для заполнения</span
    >
    <span
      *ngIf="
        titleInput.errors?.hasOwnProperty('minlength') &&
        titleInput.touched &&
        !titleInput.errors?.hasOwnProperty('required')
      "
      class="help-inline"
      >минимальная длина — 3</span
    >
    <span
      *ngIf="
        titleInput.errors?.hasOwnProperty('maxlength') &&
        titleInput.touched &&
        !titleInput.errors?.hasOwnProperty('required')
      "
      class="help-inline"
      >максимальная длина — 60</span
    >
  </div>

  <div class="tui-form__row">
    <tui-input-date
      class="add-gift__input"
      tuiTextfieldSize="s"
      [min]="currentDate"
    ></tui-input-date>
  </div>

  <div class="tui-form__row">
    <tui-input
      class="add-gift__input"
      formControlName="commentInput"
      tuiTextfieldSize="s"
      >Комментарий</tui-input
    >
    <span
      *ngIf="
        commentInput?.errors?.hasOwnProperty('maxlength')
      "
      class="help-inline"
      >максимальная длина — 60</span
    >
  </div>

  <button
    class="add-gift__submit-button"
    [disabled]="form.invalid"
    tuiButton
    type="submit"
    size="s"
    appearance="custom"
  >
    {{ submitButtonText }}
  </button>
</form>
